<!DOCTYPE html>
<html>

<head>
   
<style>
.div {
    width: 800px;
}
.assignment1 {
    background-color: #eee;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 100px;
    row-gap: 10px;
    border: 5px solid red;
    outline: 5px solid;
    font-family:arial,helvetica,sans-serif;
    font-size: 30px;
    line-height: 100px;
}
.assignment2 {
    background-color: #eee;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 100px;
    border-style: solid ;
    border-width: 5px;
    border-color: green blue green blue;
    outline: 5px solid;
    font-family:arial,helvetica,sans-serif;
    font-size: 30px;
    line-height: 100px;
}
.assignment3 {
    background-color: #eee;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 100px;
    border-style:  dashed;
    border-width: 5px;
    border-color: yellow red green blue;
    outline: 5px solid;
    font-family:arial,helvetica,sans-serif;
    font-size: 30px;
    line-height: 100px;
}


</style>
</head>
<body>
    
<div class="assignment1">shape1</div>
<div class="assignment2">shape2</div>
<div class="assignment3">shape3</div>

</body>

</html>
