<!DOCTYPE html>
<html>

<head>
   
<style>
 .first {
     width: 400px;
     margin: 50px;
     height: 80px;
     background-color: #eee;
     text-align: left;
     line-height: 80px;
     font-family: arial,helvetica,sans-serif;
     font-size: 25px;
     font-weight: normal;
     border-left: 10px solid deeppink;
     
 }
 .second {
     width: 400px;
     margin: 50px;
     height: 80px;
     background-color: #eee;
     text-align: left;
     line-height: 80px;
     font-family: arial,helvetica,sans-serif;
     font-size: 25px;
     font-weight: normal;
     visibility: hidden;
 }
  .third {
      width: 400px;
     margin: 50px;
     height: 80px;
     background-color: #eee;
     text-align: left;
     line-height: 80px;
     font-family: arial,helvetica,sans-serif;
     font-size: 25px;
     font-weight: normal;
      border-left: 10px solid lightseagreen;
  }
</style>
</head>
<body>
    <div class="first">This Is Important Note</div>
    <div class="second">This Is Important Note</div>
    <div class="third">This Is Important Note</div>


</body>

</html>

