<!DOCTYPE html>
<html>

<head>
   
<style>
div.Title1 {
    margin: 20px;
    padding: 20px;
    width: 120px;
    color: white ;
    font-size: 30px;
   background-color: firebrick;
   display: block;
}
div.Title2  {
    margin: 20px;
    padding: 20px;
    width: 350px;
    color: white ;
    font-size: 30px;
   color: white ;
   background-color: firebrick;
   display: block;
}
div.Title3 {
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 50px;
    text-align: left;
    color: white ;
    font-size: 30px;
   color: white ;
   background-color: firebrick;
   display: block;
}
div.Title4 {
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 90px;
    color: white ;
    font-size: 30px;
   color: white ;
   background-color: firebrick;
   display: block;
   overflow: hidden;
}

</style>
</head>
<body>
<div class="Title1">Title One</div>
<div class="Title2">Title Two With More Words</div>
<div class="Title3">Title Three With Many Many Many Words</div>
<div class="Title4">Title Three With Many Many Many Words Title Three With Many Many Many Words Title Three With Many Many Many Words Title Three With Many Many Many Words</div>

</body>

</html>
