<!DOCTYPE html>
<html>

<head>
   
<style>
div {
background-color: white;
margin: 20px;
padding: 20px;
font-size: 50px;
font-weight: 600;
font-family: arial,helvetica,sans-serif;
text-shadow: 2px 2px 0px tomato,4px 4px 0px lightskyblue,7px 7px 0px purple ;
}

</style>
</head>
<body>
<div>ElZero Web School</div>
</body>

</html>
