<!DOCTYPE html>
<html>

<head>
   
<style>
div.first {
color : black;
margin:20px;
padding:40px;
background-color: #eee;
font-size:28px;
line-height:28px;
width: 400px;
height: 200px;
white-space: normal;
}
div.second {
   color : black;
margin:20px;
padding:40px;
background-color: #eee;
font-size:28px;
line-height:28px;
text-align:;
width: 400px;
height: 50px;
white-space: nowrap; 
overflow:hidden;
}
div.third {
   color : black;
margin:20px;
padding:40px;
background-color: #eee;
font-size:28px;
line-height:28px;
width: 400px;
height: 50px;
white-space: normal; 
white-space: nowrap; 
overflow:hidden;
text-overflow:ellipsis;
}
</style>
</head>
<body>
<div class="first">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Ea itaque fugit vitae incidunt quis dolores? Id alias
  eveniet sequi perspiciatis iusto impedit,
  accusamus maxime reprehenderit blanditiis adipisci sapiente hic velit.
</div>
<div class="second">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Ea itaque fugit vitae incidunt quis dolores? Id alias
  eveniet sequi perspiciatis iusto impedit,
  accusamus maxime reprehenderit blanditiis adipisci sapiente hic velit.
</div>
<div class="third">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Ea itaque fugit vitae incidunt quis dolores? Id alias
  eveniet sequi perspiciatis iusto impedit,
  accusamus maxime reprehenderit blanditiis adipisci sapiente hic velit.
</div>
</body>

</html>
