<!DOCTYPE html>
<html>

<head>
<style>
div {
    background-color:white;
    width:600px;
    margin:60px;
    padding:30px;
    text-align:center;
    font-weight:normal;
    font-size:30px;
    font-family:arial,helvetica,sans-serif;
    border:5px solid chocolate;
}
p {
    background-color:#eee;
  border:5px solid chocolate;
}

</style>
</head>
<body>
<div>
  <p>This Is Paragraph</p>
</div>

</body>
</html>
