<div class="normal">Normal</div>
<div class="one">One</div>
<div class="two">Two</div>
div.normal {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: grey;
  color: black;
}
div.one {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: white;
  color: black;
  opacity: 0.1;
}
div.two {
   margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: grey;
  color: black;
  opacity: 0.1;
}
